@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    /* --foreground: #f4f5f7; */
    --text-color: #cccccc;

    --background: 13, 13, 13;
    --foreground: 64, 63, 62;

    --t-primary: 255, 243, 235;
    --t-secondary: 217, 217, 217;
    --t-tertiary: 229, 229, 229;

    --n-primary: 240, 77, 24;
    --n-secondary: 86, 110, 61;
    --n-tertiary: 24, 46, 149;

    --b-primary: 14, 56, 125;
    --b-secondary: 114, 185, 239;
    --b-tertiary: 232, 135, 30;
    --b-info: 29, 79, 160;
    --b-warning: 248, 180, 27;
    --b-success: 75, 127, 82;
    --b-accent: 54, 54, 54;
    --b-accent-grey: 42, 49, 61;
    --b-accent-green-grey: 43, 49, 63;
    --b-accent-green: 127, 239, 189;
    --b-accent-success: 125, 209, 129;
}

:root {
    /* --foreground: #f4f5f7; */
    --primary-text: 18, 18, 18;
    --secondary-text: 38, 38, 38;
    --primary-color: 230, 242, 133;
    --secondary-color: 0, 122, 255;
    --card-background: #e4eaf2;
    --info: #007aff;
    --success: #4cd964;
    --warning: #ffcc00;

    --background: 244, 245, 247;
    --foreground: 228, 228, 228;

    --n-primary: 228, 67, 48;
    --n-secondary: 126, 179, 86;
    --n-tertiary: 90, 161, 218;

    --t-primary: 38, 38, 38;
    --t-secondary: 51, 51, 51;
    --t-tertiary: 64, 63, 62;

    /* Not-in use */
    --b-primary: 14, 56, 125;
    --b-accent: 54, 54, 54;

    /* in Use */
    --b-secondary: 30, 150, 252;
    --b-tertiary: 230, 105, 37;
    --b-info: 162, 214, 249;
    --b-warning: 255, 228, 94;
    --b-success: 107, 212, 37;
    --b-accent-grey: 203, 204, 203;
    --b-accent-green-grey: 236, 235, 228;
    --b-accent-green: 1, 190, 254;
    --b-accent-success: 14, 143, 0;
}

.radius {
    &::after {
        height: 24px;
        width: 24px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #4cd964;
        box-shadow: 100px 100px 100px 100px rgba(0, 0, 0, 1);
    }
}

.masked-bg {
    position: relative;
    width: 100%;
    height: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    /* background-color: blue; */
}

.masked-bg-tl {
    mask-position: top left;
    mask-image: url("/card-path-tl.svg");
    -webkit-mask-image: url("/card-path-tl.svg");
}

.masked-bg-br {
    mask-position: bottom right;
    mask-image: url("/card-path-br.svg");
    -webkit-mask-image: url("/card-path-br.svg");
}

.masked-bg-tr {
    mask-position: top right;
    mask-image: url("/card-path-tr.svg");
    -webkit-mask-image: url("/card-path-tr.svg");
}

.masked-bg-small-tr {
    mask-position: top right;
    mask-image: url("/small-full-corner.svg");
    -webkit-mask-image: url("/small-full-corner.svg");
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer components {
    .social-link-text {
        @apply text-sm;
    }

    .social-link-arrow-icon {
        @apply inline h-[1.5rem] w-[1.2rem];
    }

    .screen-width {
        @apply mx-auto h-full w-full max-w-[1575px] px-5 md:px-12 lg:px-16;
    }

    .content-width {
        @apply px-5 md:max-w-2xl lg:max-w-4xl;
    }

    .screen-width-header {
        @apply mx-auto max-w-[1575px] px-5 md:px-12;
    }

    .post-content-width {
        @apply mx-auto px-5 md:max-w-2xl lg:max-w-4xl;
    }

    .screen-width-footer {
        @apply mx-auto max-w-[1575px];
    }
}
