@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    --background: #121212;
    /* --foreground: #f4f5f7; */
    --text-color: #cccccc;
    --primary-color: 151, 185, 255;
    --secondary-color: 230, 242, 133;
    --card-background: #262626;

    --primary-text: 244, 245, 247;
    --secondary-text: 204, 204, 204;
    --foreground: #262626;
}

:root {
    /* --foreground: #f4f5f7; */
    --primary-text: 18, 18, 18;
    --secondary-text: 38, 38, 38;
    --primary-color: 230, 242, 133;
    --secondary-color: 0, 122, 255;
    --card-background: #e4eaf2;
    --info: #007aff;
    --success: #4cd964;
    --warning: #ffcc00;

    /* --n-primary: 56, 5, 242;
    --n-secondary: 0, 123, 255;
    --n-accent: 191, 242, 5;
    --n-tertiary: 5, 72, 242; */

    --background: 244, 245, 247;
    --foreground: 228, 228, 228;

    --n-primary: 228, 67, 48;
    --n-secondary: 217, 185, 132;
    --n-tertiary: 89, 161, 173;

    --b-primary: 38, 81, 167;
    --b-secondary: 247, 189, 2;
    --b-tertiary: 133, 129, 113;

    --t-primary: 38, 38, 38;
    --t-secondary: 51, 51, 51;
    --t-tertiary: 64, 63, 62;

    --n-accent: 167, 244, 50;

    --n-accent-2: 0, 251, 255;
    --n-accent-yellow: 247, 232, 164;
    --n-accent-green: 224, 248, 216;
}

.radius {
    &::after {
        height: 24px;
        width: 24px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #4cd964;
        box-shadow: 100px 100px 100px 100px rgba(0, 0, 0, 1);
    }
}

.masked-bg {
    position: relative;
    width: 100%;
    height: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    /* background-color: blue; */
}

.masked-bg-tl {
    mask-position: top left;
    mask-image: url("/card-path-tl.svg");
    -webkit-mask-image: url("/card-path-tl.svg");
}

.masked-bg-br {
    mask-position: bottom right;
    mask-image: url("/card-path-br.svg");
    -webkit-mask-image: url("/card-path-br.svg");
}

.masked-bg-tr {
    mask-position: top right;
    mask-image: url("/card-path-tr.svg");
    -webkit-mask-image: url("/card-path-tr.svg");
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer components {
    .social-link-text {
        @apply text-sm;
    }

    .social-link-arrow-icon {
        @apply inline h-[1.5rem] w-[1.2rem];
    }

    .screen-width {
        @apply mx-auto h-full w-full max-w-[1575px] px-5 md:px-12 lg:px-16;
    }

    .content-width {
        @apply px-5 md:max-w-2xl lg:max-w-4xl;
    }

    .screen-width-header {
        @apply mx-auto max-w-[1575px] px-5 md:px-12;
    }

    .post-content-width {
        @apply mx-auto px-5 md:max-w-2xl lg:max-w-4xl;
    }

    .screen-width-footer {
        @apply mx-auto max-w-[1575px];
    }
}
